
:root{
--font-family: inherit;
--accent-color:#404bbf;
--black-logo-titl:#2E2F42;
}


body{
   font-family: 'Roboto', sans-serif;
     background-color: #FFFFFF;
    color: #434455
}
.list{
    list-style: none;
    padding-left: 0;
}
.link{
    text-decoration: none;
}
/* flexbox-default */

h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}
img{
    display: block;
}

/* containers */
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* buttons */
button{
    cursor: pointer;
}
.open-btn{
        padding:15px 30px ;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        border-radius: 4px;
       
}
.btn-filtr{
    font-family: "Roboto", sans-serif;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid #e7e9fc;
    color: #4D5AE5;
    background: #F4F4FD;
}
.btn-filtr:hover{
border: 1px solid transparent;
color: #FFFFFF;
background:var(--accent-color);
}
.btn-filtr:focus{
    border: 1px solid transparent;
    color: #FFFFFF;
        background:var(--accent-color);
}

.modal-btm:hover{
    background:var(--accent-color);
}
.modal-btm:focus{
    background:var(--accent-color);
}
.modal-btm{
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    background: #4D5AE5;
    display: block;
    height: 56px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 15);
    margin-left: auto;
    margin-right: auto;
}
/* header */

.logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        }
.black-logo{
    color:var(--black-logo-titl);
}
.white-logo{
    color: #F4F4FD;
}


.menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.menu-link{
    padding: 24px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--black-logo-titl);
}
.menu-link:focus{
    color: #404bbf;
}
.menu-link:hover{
    color: var(--accent-color);
}
.contacts-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts-link:hover{
    color: #404bbf;
}
.contacts-link:focus{
    color: var(--accent-color);
}
.emeil-tel{
font-style: normal;
}


/* header-flexbox*/
.page-header-conteiner{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    align-items: center;
}
.page-nav{
display: flex;
}
.menu{
display: flex;
gap: 40px
}

.logo{
    margin-right: 76px;
}


.address-contact{
display: flex;
gap: 40px;
}
.email-distans{
    margin-right: 40px;
}
header{
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    border-bottom: 1px solid #e7e9fc;
}
/* titel */
.main-title{
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    color: #FFFFFF;
    text-align: center;
}
/* flexbox titl */
.section-head{
    background: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    border-bottom: 1px solid #e7e9fc;
}


/* competencies */

.titel-list{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        color: #2E2F42;
}
.small-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
        order: 1;
        flex-grow: 0;
        color: #434455;
}
.competencies{
padding: 120px 0;
}
.competencies-list{
display: flex;
gap: 24px;
}
.paragraph-comp{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 264px;
        height: 72px;
}

.competencies-bloc{
    flex-basis: calc((100% - 3 * 24px) / 4);
}

/* skills */
.skils-box{
    padding-bottom: 120px;
}
.skils-list{
    flex-basis: calc((100% - 48px) / 3);
}
.big-titel{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
         color: #2E2F42;
}
/* Team */
.team-box{
    padding-top: 120px;
    padding-bottom: 120px;
    background: #F4F4FD;
}
.people-img{
    display: flex;
    gap: 24px;
    
}
.people-list{
    text-align: center;
border-radius: 0px 0px 4px 4px;
width: calc((100% - 48px) / 3);
background: #FFFFFF;
}
.name-prof{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px
    
}
.title-teame{
margin-bottom: 8px;
}

/* footer*/
.foorer-box{
    padding: 100px 0;
    background: #2E2F42;
}
.link-footer{
    display: inline-block;
    margin-bottom: 16px;
}

.white-text{
    max-width: 264px;
    color: #F4F4FD;
}
/* PORTFOLIO */

/* MAIN */


.filter-btn{
padding: 96px 0 120px;
}
.btn-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px
}
.project-portfolio{
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.list-item-portfolio{
    width: calc((100% - 48px)/3);
}
.item-box{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}